.experiência {
    font-size: 30px;
    color: #fff;
    padding-top: 10px;
}

.divisão_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px;
}

.card {
    height: 400px;
    width: 225px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0 0 0 / 12%);
    overflow: hidden;
}
  
.card_imagem {
    border-bottom: 1px solid rgb(245 245 245);
}
  
.card_info {
    padding: 10px;
    background-color: #fff;
}
  
.card_info > p {
    display: block;
    margin-top: 4px;
}
  
.card_tempo {
    background-color: rgb(53, 131, 250);
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    width: fit-content;
    padding: 2px 4px;
    margin-bottom: 4px;
}
  
.card_cargo {
    font-size: 20px;
    line-height: 24px;
    color: rgba(0 0 0 / 80%);
    background-color: #fff;
}
  
.card_endereço {
    font-size: 14px;
    font-weight: 300;
    color: rgb(0 0 0);
    background-color: #fff;
}

.botao_elo7 {
    background-color: rgb(53, 131, 250);
    border-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    margin-top: 50px;
}